body {
    /*background-color: #3A3A3A;*/
    background-image: url(assets/space.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-position: center center;
    background-color: rgba(0,0,0,0.4);
    z-index: -10;    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 32px 40px 40px 60px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    color: #ED753A;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      padding-top: 30px;
      float: none;
      display: block;
      text-align: center;
    }
}

#protostar-logo {
    float: none;
    padding: 32px 0px 30px 40px; /*top, right, bottom, left*/
    max-width: 160px;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.header {
    font-family: 'Anonymous Pro', monospace;
    font-weight: lighter;
    font-size: 2.5em;
    text-align: center;
    padding-top: 15%;
}

.type {
    color: #f2f2f2;
    font-family: 'Work Sans', sans-serif;
    padding: 1vh 5vh;
    font-size: 2.5vh;
    word-wrap: break-word;
    max-width: 700px;
    display: inline-block;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}  

h1, h2 {
    font: 3.0vh "Work Sans", sans-serif; 
    padding-top: 2vh;
    text-align: center;
    color: #ED753A;
}

h3 {
    font: 1.5vh "Work Sans", sans-serif; 
    margin-top: 0vh;
    text-align: center;
    text-transform: lowercase;
    color: #ED753A;
}

.section {
    color: #777;
    background-color:#f2f2f2;
    overflow: hidden; /*The overflow property specifies what should happen if content overflows an element's box. */
    
}

#celebrate {
    background-image: url(assets/confetti-background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-color: rgba(0,0,0,0.4);
    z-index: -10;   
}

.left{
    float: left;
    max-width: 49.5%; 
}

.right{
    float: right;
    max-width: 49.5%;
}

.sect-text {
    text-align: left;
    align-items: inherit;
    font-family: "Montserrat";
    line-height: 5vh;
    padding: 2vh 5vh;
    max-width: 70%;
    font-size: 2.0vh;
    word-wrap: break-word;
    overflow: hidden;
    display: inline-block;
}

#img {
    overflow: hidden;
    max-width: 90%;
}

.box {
    background-color: white;
    display: inline-block;
    overflow: hidden;
    border: 1px solid;
    padding-left: 5vh;
    padding-bottom: 2vh;
    box-shadow: 20px 30px #ED753A;
    margin-top: 2%;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {max-width: 35%; margin: 4vh 6.5vh;}
.col-5 {width: 45%; padding:2% 2.5%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 80%;
    padding: 1% 15%;
  }

  [id*="img"] {
    padding: 2.5% 10%;
  }

  [id*="box-text"] {
    padding: 0px;
    max-width: 100%;
  }

  [class*="box"] {
    margin: 1% 12%;
  }

  [class*="card-area"] {
    width: 150%;
  }

}

.sponsor-logo {
    max-width: 50%;
    padding: 0.5% 25%;
}

.card-area {
    float: left;
    display: flex;
    flex-direction: row;
    /*margin: 10% auto;*/
    box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
    background: #fff;
    line-height: 1.4;
    border-radius: 2px;
    overflow: hidden;
    z-index: 0;
    margin-bottom: 2%;
}

.card-area:hover .sin-img{
    transform: scale(1.1);
}

.card-area .sin-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    transition: 0.9s;
}

.card-area .img-area {
    position: relative;
    z-index: 0;
    height: 600px;
}

.card-area .img-text {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.card-area .img-text h1 {
    line-height: 1;
    margin: 0;
    text-align: left;
    color: #CB5C0D;
    font-weight: bolder;
    font-family: monospace;
    font-size: 1.6rem;
}

.card-area .img-text h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: lowercase;
    font-family: monospace;
    color: tomato;
    margin-top: 10px;
    text-align: left;
}

.card-area {
    flex-direction: row;
    max-width: 48%;
    margin-left: 2%;
    margin-top: 2%;  
}

.card-area .img-area {
    flex-basis: 50%;
    height: auto;
}

.card-area .img-text {
    flex-basis: 60%;  
}

.card-area .img-text:before {
    -webkit-transform: skewX(4deg);
    transform: skewX(4deg);
    content: '';
    background: #fff;
    width: 60px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.img-text p i {
    margin: 0 5px;
}

.footer p i {
    margin: 0 8px;
}

#moreYames, #moreTia, #moreNoah, #moreAmanda {display: none;}

#founder {
    flex-direction: row;
}