body {
    /*background-color: #3A3A3A;*/
    background-image: url(assets/space.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-position: center center;
    background-color: rgba(0,0,0,0.4);
    z-index: -10;    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 32px 40px 40px 60px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    color: #ED753A;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      padding-top: 30px;
      float: none;
      display: block;
      text-align: center;
    }
}

#protostar-logo {
    float: none;
    padding: 32px 0px 30px 40px; /*top, right, bottom, left*/
    max-width: 160px;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.header {
    font-family: 'Anonymous Pro', monospace;
    font-weight: lighter;
    font-size: 2.5em;
    text-align: center;
    padding-top: 15%;
}

.type {
    color: #f2f2f2;
    font-family: 'Work Sans', sans-serif;
    padding: 1vh 5vh;
    font-size: 2.5vh;
    word-wrap: break-word;
    max-width: 700px;
    display: inline-block;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}  

h1, h2 {
    font: 3.0vh "Work Sans", sans-serif; 
    padding-top: 2vh;
    text-align: center;
    text-transform: lowercase;
    color: #ED753A;
}

h3 {
    font: 1.5vh "Work Sans", sans-serif; 
    margin-top: 0vh;
    text-align: center;
    text-transform: lowercase;
    color: #ED753A;
}

.section {
    color: #777;
    background-color:#f2f2f2;
    overflow: hidden; /*The overflow property specifies what should happen if content overflows an element's box. */
    
}

#celebrate {
    background-image: url(assets/confetti-background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-color: rgba(0,0,0,0.4);
    z-index: -10;   
}

.sect-text {
    text-align: left;
    align-items: inherit;
    font-family: "Montserrat";
    line-height: 5vh;
    padding: 2vh 4%;
    max-width: 850px;
    font-size: 2.0vh;
    word-wrap: break-word;
    display: inline-block;
}

#img {
    max-width: 90vh;
    height: 56vh;
    padding-left: 1vh;
    padding-bottom: 2vh;
    float: center;
    position: right;
    overflow: hidden;
}

.box {
    background-color: white;
    max-width: 500px;
    display: inline-block;
    overflow: hidden;
    height: 260px;
    border: 1px solid;
    padding: 8px 50px;
    padding-bottom: 2vh;
    box-shadow: 20px 30px #ED753A;
    margin: 2vh 10vh;
}


